// Color variables

// Primary colors
$primaryBlue1: #0f162d;
$primaryBlue2: #6c7cff;
$primaryTurquoise: #2affff;
$primaryPink: #ca59ff;
$primaryYellow: #fff629;

// Secondary colors
$secondaryWhite: #fff;
$secondaryBlack: #000;
$secondaryBlue: #272d42;
