$fs-XXL: 4.25rem;
$fs-XL: 3rem;
$fs-L: 1.125rem;
$fs-M: 1rem;
$fs-S: 0.75rem;

$regular: 400;
$medium: 500;
$bold: 700;

$spacing: -0.04rem;

// Typography boilerplate

h1,
h2,
h3,
p,
a {
    font-family: "Lato", sans-serif;
    color: #fff;
    margin-top: 0;
}

a,
a:visited,
a:active {
    text-decoration: none;
}
