// Variables for fast PX > REM convertion
$font68: 4.25rem;
$font48: 3rem;
$font18: 1.125rem;
$font12: 0.75rem;

@mixin desktop-h1 {
  font-size: $font68;
  letter-spacing: -4px;
  font-weight: 700;
}

@mixin desktop-h2 {
  font-size: $font48;
  letter-spacing: -4px;
  font-weight: 400;
}

@mixin desktop-p-bold {
  font-weight: 700;
}

@mixin desktop-small-p {
  font-size: $font12;
  font-weight: 500;
}

h1,
h2,
h3,
p,
a {
  font-family: "Lato", sans-serif;
  color: #fff;
  margin-top: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}
