$black100: rgba(0, 0, 0, 1);
$black70: rgba(0, 0, 0, 0.7);
$black50: rgba(0, 0, 0, 0.5);
$black20: rgba(0, 0, 0, 0.2);

$dark-gray: #121212;
$mid-gray: #18181c;
$hover: #292929;
$active: #444444;
$white: #fff;
$spotify: #65d36e;
